<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body {% block background %}{% endblock %}>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'admin_home'%}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'admin_user_view'%}">Repoters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'admin_posts_all'%}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'admin_guest_view'%}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin_pic_pool_view'%}">Pic Pool</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">Settings</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'admin_keywords_master_view'%}">Keywords</a>
            <a class="dropdown-item" href="{% url 'admin_type_master_view'%}">Category Type</a>
            <a class="dropdown-item" href="{% url 'admin_data_set_view'%}">Data Set</a>
            <a class="dropdown-item" href="{% url 'admin_label_master_view'%}">Data Category</a>
            <a class="dropdown-item" href="{% url 'admin_home'%}">Change Password</a>
            <a class="dropdown-item" href="{% url 'admin_logout'%}">Logout</a>

          </div>
        </li>
      </ul>
    </div>
  </nav>
   {% block body %}{% endblock %}




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
<style>
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</html>