{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Hello Admin !{% endblock %}
{% block background %}{% endblock %}
{% block body %}
<center>
    <h1 class="text-danger">Welcome Admin</h1>
    <img src="{% static './myapp/images/news.jpg' %}" width="600" height="400">
</center>
{% endblock %}
