{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}{{type}}{% endblock %}
{% block body %}
<center>
    <h1>{{type}}</h1>
    <div class="container">
    <form role="form" name="frm" action="" method="post">
        {% csrf_token %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DOB</th>
                <th>GENDER</th>
                <th>ADDRESS</th>
                <th>CONTACT</th>
                <th>EMAIL</th>

            </tr>
            </thead>
            {% for f in user_list %}
            <tbody>
            <tr>
                <td>{{ f.id }}</td>
                <td>{{ f.fname }}{{ f.fname }}</td>
                <td>{{ f.dob }}</td>
                <td>{{ f.gender }}</td>
                <td>{{ f.addr }},{{ f.pin }}</td>
                <td>{{ f.contact }}</td>
                <td>{{ f.email }}</td>

            </tr>
            <tbody>
            {% endfor %}
        </table>

    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
