{% extends 'myapp/user_base.html' %}
{% load static %}
{% block title %}Reporter Change Password{% endblock %}
{% block body %}
<center>
    <h2>Reporter Change Password</h2>
    <img src="{% static 'myapp/images/person.png'%}" width="150" height="150">
    <div class="container">
    <form role="form" name="frm" action="{% url 'user_changepassword' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="current_password">Old</label>
                <input class="form-control" type="password" id="current_password" name="current_password" placeholder="Old Password">
            </div>
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input class="form-control" type="password" id="new_password" name="new_password" placeholder="New Password">
            </div>

            <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>

        </form>
        {{msg}}
        </div>
</center>
{% endblock %}